node_modules
npm-debug.log
.git
.gitignore
.env
.env.*
*.sqlite
*.sqlite-journal
*.sqlite-wal
*.sqlite-shm
.wweb-sessions/
.wwebjs_cache/
test/
.github/
*.md
!README.md
assets/
dynamic/
server.log
server-error.log
tunnel.log
